@media ( max-width : 767px) {
  p,.btn,input,div,span,h4 {
    font-size: 100%;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  }

    .input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    }
    .transparent-input {
       background-color:transparent !important;
       border:none !important;
       box-shadow: none;

    }
  .control-label {
    text-align: right;
  }
.panel, .panel-group .panel-heading .panel-title+.panel-collapse>.panel-body {
    border-bottom:1px solid #dbdbdb;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color:transparent;
}

.panel-default > .panel-heading {
    background-color:transparent;
}
.btn-remove-panel{
  padding: 0px 20px 6px 20px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: -1px;
	outline:0;
}
.nav-tabs > li > a {
    margin-left: 1px;
}

